- title "Workout"

%p
  %strong Name:
  = @workout.name
%p
  %strong User:
  = @workout.user.username
%p
  %strong Description:
  = simple_format(@workout.description)

%p
  %strong Dates Used:
  - @workout.workout_sessions.each do |workout_session|
    %p= link_to workout_session.date.strftime("%m/%d/%Y"), workout_session_path(workout_session)

%p
  = link_to "Edit", edit_workout_path(@workout)
  |
  = link_to "Destroy", @workout, :confirm => 'Are you sure?', :method => :delete
  
