- title "Log In or Sign Up"

= link_to "Forgot Password", new_password_reset_path

#groups
  .group
    = form_tag sessions_path, :id => "log_in_form" do
      .name
        Existing Users Log In
      .details
        = label_tag :login, "Username or Email"
        = text_field_tag :login, params[:login], :style => "margin-left: 20px; height:20px;", :class => "span-5 round"
        = label_tag :password
        = password_field_tag :password, nil, :style => "margin-left: 20px; height:20px;", :class => "span-5 round"
        .signup
          = link_to 'Log in', "#", :onclick=>"$('#log_in_form').submit()"
          =# submit_tag "Log in"
  - Group.all.each do |group|
    .group
      .name
        = group.name
      .details
        .specifics
          = group.details
        .per_month
          rates vary
        .signup
          = link_to "Sign up", signup_path(:group_id => group.id)
  .clear