<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>

<div class="grey_box round">
<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :login, "Username or Email Address" %><br />
    <%= text_field_tag :login, params[:login] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p><%= submit_tag "Log in" %></p>
<% end %>
</div>

<%=  link_to_function 'Learn More', "toggle_learn_more(this)" %>
<div id="learn_fields" style="display : none;" >
<h1 style="text-decoration: underline">
  Create and log workouts with a simple calendar format.
</h1>
<%= image_tag("calendar.jpg") %>

<h1 style="text-decoration: underline">Your workouts and exercises are easily accessible.</h1>
<br>
<%= image_tag("workout_name.jpg") %>
<h1 style="text-decoration: underline">New ones can be created "on the fly".</h1>
<br>
<%= image_tag("exercise_name.jpg") %>

<h1 style="text-decoration: underline">
  View exercise progression with graphs.
</h1>
  <br>
  <%= image_tag("weight_lifted.jpg") %>
  <%= image_tag("volume_lifted.jpg") %>
  <hr></hr>
<h1>Trainers & Coaches - Track your clients' and athletes' body composition and workouts, while also allowing them to receive your workouts on their own personal calendars seem-lessly over the web.</h1>
<h1 style="text-decoration: underline">
  Enter skin fold measures to get instant body fat percentage, lean mass, fat mass, and 'Priority' sites.
</h1>
  <br>
  <%= image_tag("biosig_table.jpg") %>

<h1 style="text-decoration: underline">
  View graphs to track progress of individual sites.
</h1>
  <br>
  <%= image_tag("biosig_supra.jpg") %>
  <%= image_tag("biosig_umbilical.jpg") %>

<h1 style="text-decoration: underline">
  Upload photos to track progress from a visual perspective.
</h1>
  <br>
  <br>
  <%= image_tag("pics.jpg") %>

<h1 style="text-decoration: underline">
  Create workouts for your clients or athletes that they have access to on their own calendar.
</h1>
  <br>
  <br>
  <%= image_tag("client_workout_session.jpg") %>

<h1 style="text-decoration: underline">
  Convert workouts to pdf for easy printing with the click of a button.
</h1>

</div>