= form.error_messages
%li
  = form.label :weight
  = form.text_field :weight, :placeholder => "Amount of weight"
%li
  = form.label :reps
  = form.text_field :reps, :placeholder => "Number of repetitions"
%li
  = form.label :duration
  = form.text_field :duration, :placeholder => "Amount of time"