= form_for @workout_session do |f|
  = f.error_messages
  %ul.rounded
    %li= f.select :workout_name, @workouts, {:include_blank => 'Workout Name'}
    %li= f.date_select :date

  = link_to "Done", nil, :class => "whiteButton submit"
  = link_to "Cancel", nil, :class => 'grayButton goback'
  
:javascript
  var workout_data = "#{ @workouts.join('--') }";
  $("#workout_session_workout_name").autocomplete(workout_data.split('--'), {minChars: 0, delay: 0, multiple: false, matchContains: true, selectFirst: false});
  