- form.inputs do
  = form.input :workout_name, :as => :string, :required => false, :label => "Workout Name", :include_blank => false, :input_html => {:class => 'span-10 text round', :value => @workout_session.workout_name}
  = form.input :date, :as => :string, :input_html => {:value => @workout_session.date.strftime("%m/%d/%Y"), :class => 'date-pick span-3 text round'}

  = link_to_add_exercise_session_fields "add an exercise", form, :exercise_sessions
  =# form.input :user_id, :input_html => {:value => current_user.id}
  - form.semantic_fields_for :exercise_sessions do |exercise_session_form|
    = render :partial => '/exercise_sessions/form', :locals => { :form => exercise_session_form}
  %br
  %br
  .exercise_box.round
    = form.input :supplements, :input_html => {:class => 'span-10 text round'}
    = form.input :notes, :label => "Notes", :input_html => {:rows => 10, :class => 'span-10 text round'}
    %br

:javascript
  var workout_data = "#{ @workouts.join('--') }";
  $("#workout_session_workout_name").autocomplete(workout_data.split('--'), {minChars: 0, delay: 0, multiple: false, matchContains: true, selectFirst: false});
  