= form_for @workout_session, :id => 'workout_session_form', :class => 'form' do |f|
  = f.error_messages
  = f.hidden_field :user_id, :value => current_user.id
  - @r = rand(1-100000)
  %ul
    %li
      Choose from existing workout
      = check_box_tag :existing, 'yes', false, :id => "existing_workout_#{@r}", :onchange => "toggleStatus(#{@r});"
    %li{:id => "new_#{@r}"}
      = f.label :workout_name
      = f.text_field :workout_name, :placeholder => "Workout Name"
    %li{:id => "old_#{@r}", :style => "display:none;"}
      = f.label :workout_name
      = f.select :workout_name, @workouts, {:include_blank => 'Workout name'}, :disabled => true
  = f.fields_for :exercise_sessions do |exercise_session_form|
    = render :partial => '/exercise_sessions/form', :locals => { :form => exercise_session_form}
  %ul
    %li= link_to_mobile_add_exercise_session_fields "(+) add exercise", f, :exercise_sessions

  %ul
    %li
      = f.label :date
      = f.date_select :date
      =# f.text_field
    - if current_user.is_trainer? or current_user.is_gym?
      %li
        = f.label :client
        = f.select :client_id, @clients, {:include_blank => true}
    %li
      = f.label :notes
      = f.text_area :notes

  = link_to "Save", nil, :class => "whiteButton", :onclick => "$(this).closest('form').submit();"
  =# link_to 'Save', nil, :class => "button", :onclick => "$(this).closest('form.edit_workout_session').submit();"
  =# link_to 'Save', nil, :class => "button", :onclick => "$('#edit_workout_session_#{@workout_session.id}').submit();"
  =# link_to 'Save', nil, :class => "button", :onclick => "$('#workout_session_form').submit()"
  =# link_to 'Save', nil, :class => "button", :onclick => "$('##{dom_id(@user)}').submit()"
  =# link_to 'Save', nil, :class => "button", :onclick => "jQT.submitForm(‘.current form.yourFormClass’);"
= link_to "Cancel", nil, :class => 'cancel'

%script
  var r = "#{@r}"; $('#existing_workout_' + r).change(function() { $('#new_' + r).toggle(!this.checked); $('#old_' + r).toggle(this.checked);}).change();