= form_for @workout_session, :id => 'workout_session_form' do |f|
  = f.error_messages
  = f.hidden_field :user_id, :value => current_user.id
  %ul.rounded
    - if column == 'workout_name'
      %li= f.select :workout_name, @workouts, {:include_blank => 'Workout Name'}
      = f.hidden_field :date, :value => Date.today
    -if column == 'date'
      %li= f.date_select :date if column == 'date'

  = link_to "Done", nil, :class => "whiteButton submit"
  =# link_to "Cancel", nil, :class => 'grayButton goback'
  
:javascript
  var workout_data = "#{ @workouts.join('--') }";
  $("#workout_session_workout_name").autocomplete(workout_data.split('--'), {minChars: 0, delay: 0, multiple: false, matchContains: true, selectFirst: false});
  