= form_for @workout_session, :id => 'workout_session_form' do |f|
  = f.error_messages
  = f.hidden_field :user_id, :value => current_user.id
  %ul.rounded
    %li
      = f.label :workout_name
      = f.select :workout_name, @workouts, {:include_blank => 'Workout Name'}
    %li
      = f.label :date
      = f.datetime_select :date
    - if current_user.is_trainer? or current_user.is_gym?
      %li
        = f.label :client
        = f.select :client_id, @clients, {:include_blank => true}
    %li
      = f.label :notes
      = f.text_area :notes

= link_to "Save", nil, :class => "button submit"
= link_to "Cancel", nil, :class => 'cancel'
  