= form_for @workout_session, :id => 'workout_session_form' do |f|
  = f.error_messages
  = f.hidden_field :user_id, :value => current_user.id
  %ul.rounded
    - if column == 'workout_name'
      %li= f.select :workout_name, @workouts, {:include_blank => 'Workout Name'}
      = f.hidden_field :date, :value => Date.today if @workout_session.date.blank?
    - if column == 'date'
      %li= f.datetime_select :date if column == 'date'
    - if column == 'client'
      %li= f.select :client_id, @clients, {:include_blank => false}

  = link_to "Done", nil, :class => "whiteButton submit"
  =# link_to "Cancel", nil, :class => 'grayButton goback'
  