- form.inputs do
  Name:
  = form.input :workout_name, :as => :string, :required => true, :label => false, :autofocus => true, :input_html => {:class => 'span-10 text round', :value => @workout_session.workout_name}
  = form.input :date, :as => :hidden, :input_html => {:value => @workout_session.date.strftime("%m/%d/%Y"), :class => 'date-pick span-3 text round'}
  = form.input :user_id, :as => :hidden, :input_html => {:value => @workout_session.user.id}
  - unless @workout_session.client.blank?
    = form.input :client_id, :as => :hidden, :input_html => {:value => @workout_session.client.id}

  =# link_to 'Edit workout details >>', new_workout_session_path(:date => @workout_session.date, :name => @workout_session.workout_name)
 

:javascript
  $("input:text:visible:first").focus();
  var workout_data = "#{ @workouts.join('--') }";
  $("#workout_session_workout_name").autocomplete(workout_data.split('--'), {minChars: 0, delay: 0, multiple: false, matchContains: true, selectFirst: false});
  