- title "Workouts"

- if false
  %ul.invisible
    %li= link_to "New", new_workout_session_path, :class => "button"
  - for workout_session in @workout_sessions
    %ul.round
      %li.arrow= link_to workout_session.workout_name + " - " + workout_session.date.to_s, workout_session_path(workout_session)


- if true
  %ul.invisible
    %li= link_to "New", new_workout_session_path, :class => "button"

  #workouts
    %ul
      - for workout_session in @workout_sessions
        - unless workout_session.date.strftime("%H:%M") == "00:00"
          %li
            %time{:datetime => "#{workout_session.date.strftime("%Y-%m-%dT%H:%MZ")}"}
              = link_to workout_session.workout_name, workout_session_path(workout_session), :rel => 'external'
        - else
          %li
            %time{:datetime => "#{workout_session.date.strftime("%Y-%m-%d")}T08:00Z"}
              = link_to workout_session.workout_name, workout_session_path(workout_session), :rel => 'external'
  %script
    $(function() { $('#workouts').getCalendar(); });