- title "New Workout"

- if false
  %ul.rounded
    - if @workout_session.workout_name.blank?
      %li.arrow= link_to "Name", new_workout_path(:column => 'workout_name')
    - else
      %li.arrow= link_to @workout_session.workout_name, new_workout_path(:column => 'workout_name')
  %ul.rounded
    %li.arrow= link_to "Date", nil
  - if current_user.is_trainer? and !current_user.trainer.clients.empty?
    %ul.rounded
      %li.arrow= link_to "Client", nil
  - elsif current_user.is_gym? and !current_user.gym.clients.empty?
    %ul.rounded
      %li.arrow= link_to "Client", nil
  %ul.rounded
    %li.arrow= link_to "Exercises", nil
  %ul.rounded
    %li.arrow= link_to "Notes", nil
- else
  = render :partial => 'form'