- title "Workout"

.info
  = @workout_session.date.strftime("%m/%d/%Y") + ' - ' + @workout_session.workout.name
.clear

- if params[:client].blank?
  %ul.invisible
    %li= link_to 'Calendar', workout_sessions_path, :class => 'back', :rel => 'external'
- else
  = link_to "Back", nil, :class => "back"

- unless @workout_session.client.blank?
  - if current_user.coach? or current_user.is_trainer? or current_user.is_gym?
    %ul.round
      =# @workout_session.client.full_name
      %li.arrow= link_to @workout_session.client.full_name, client_path(@workout_session.client)

- unless @workout_session.exercise_sessions.empty?
  - @workout_session.exercise_sessions.each do |exercise_session|
    %ul.round
      - unless @workout_session.client.blank?
        %li.arrow
          =# link_to exercise_session.exercise.name, edit_exercise_session_path(exercise_session, :client => @workout_session.client)
          = link_to exercise_session.exercise.name, exercise_path(exercise_session.exercise, :client => exercise_session.workout_session.client)
      - else
        %li.arrow
          =# link_to exercise_session.exercise.name, edit_exercise_session_path(exercise_session)
          = link_to exercise_session.exercise.name, exercise_path(exercise_session.exercise)

      - exercise_session.weight_sets.each_with_index do |weight_set, index|
        - unless weight_set.weight.blank? and weight_set.reps.blank? and weight_set.duration.blank?
          %ul
            %li
              - if exercise_session.weight_sets.size > 1
                Set
                = index + 1
              - unless weight_set.weight.blank?
                Weight:
                = weight_set.weight
              - unless weight_set.reps.blank?
                Reps:
                = weight_set.reps
              - unless weight_set.duration.blank?
                Duration:
                = weight_set.duration
    
      - unless exercise_session.sets.blank? and exercise_session.rest.blank?
        %ul
          - unless exercise_session.sets.blank?
            %li= "Sets: " + exercise_session.sets.to_s
          - unless exercise_session.rest.blank?
            %li= "Rest: " + exercise_session.rest
      
- unless @workout_session.notes.blank?
  .info
    %p
      Notes:
    %p
      = simple_format(@workout_session.notes)


- if @workout_session.user == current_user
  %ul.invisible
    %li= link_to 'Edit', edit_workout_session_path(@workout_session), :class => 'button'
    
  =# button_to 'Delete', @workout_session, :confirm => "Are you sure?", :id => 'delete-alert', :method => :delete, :title => 'Delete this workout session', :class => 'redButton submit', :onclick => "return confirm('Delete this item?');"