- title "Workout"

.info
  = @workout_session.date.strftime("%m/%d/%Y") + ' - ' + @workout_session.workout.name
.clear

- unless @workout_session.client.blank?
  - if current_user.coach? or current_user.is_trainer? or current_user.is_gym?
    %ul.round
      %li.forward= link_to "Client: " + @workout_session.client.full_name, client_path(@workout_session.client)

- unless @workout_session.exercise_sessions.empty?
  - @workout_session.exercise_sessions.each do |exercise_session|
    %ul.round
      - unless @workout_session.client.blank?
        %li.arrow= link_to exercise_session.exercise.name, exercise_path(exercise_session.exercise, :client => @workout_session.client)
      - else
        %li.arrow= link_to exercise_session.exercise.name, exercise_path(exercise_session.exercise)
      -# if exercise_session.exercise.videos.any?
        -# if !exercise_session.exercise.videos.find_last_by_client_id(@workout_session.client_id).blank?
          =# image_tag("video_icon.png", :alt => "Video", :rel => "#video_#{exercise_session.exercise.videos.find_last_by_client_id(@workout_session.client_id).id}", :id => 'pdf_remove', :title => "Watch video", :class => 'tool-tip')
          =# render :partial => '/videos/video', :locals => {:video => exercise_session.exercise.videos.find_last_by_client_id(@workout_session.client_id)}
        -# else
          -# if exercise_session.exercise.videos.last.client_id.blank?
            =# image_tag("video_icon.png", :alt => "Video", :rel => "#video_#{exercise_session.exercise.videos.last.id}", :id => 'pdf_remove', :title => "Watch video", :class => 'tool-tip')
            =# render :partial => '/videos/video', :locals => {:video => exercise_session.exercise.videos.last}

      - exercise_session.weight_sets.each_with_index do |weight_set, index|
        - unless weight_set.weight.blank? and weight_set.reps.blank?
          %ul.round
            %li
              - if exercise_session.weight_sets.size > 1
                Set
                = index + 1
              - unless weight_set.weight.blank?
                Weight:
                = weight_set.weight
              - unless weight_set.reps.blank?
                Reps:
                = weight_set.reps
      - unless exercise_session.sets.blank? and exercise_session.rest.blank?
        %ul.round
          %li= "Sets: " + exercise_session.sets.to_s unless exercise_session.sets.blank?
          %li= "Rest: " + exercise_session.rest unless exercise_session.rest.blank?

- unless @workout_session.notes.blank?
  .info
    %p
      Notes:
    %p
      = simple_format(@workout_session.notes)

- if @workout_session.user == current_user
  %ul
    %li= link_to 'Edit', edit_workout_session_path(@workout_session), :class => 'bigBlueButton'
  =# button_to 'Delete', @workout_session, :confirm => "Are you sure?", :id => 'delete-alert', :method => :delete, :title => 'Delete this workout session', :class => 'redButton submit', :onclick => "return confirm('Delete this item?');"