- title "Workout Session"

= @workout_session.date.strftime("%m/%d/%Y")
%br
%p
  %strong
    Workout:
    = @workout_session.workout.name

.exercise_box.round
  - @workout_session.exercise_sessions.each do |exercise_session|
    %p
      %strong
        Exercise:
        = link_to exercise_session.exercise.name, exercise_path(exercise_session.exercise)
    %br
    - exercise_session.weight_sets.each_with_index do |weight_set, index|
      %p
        %strong
          Set
          = index + 1
      %p
        Weight:
        = weight_set.weight
      %p
        Reps:
        = weight_set.reps
    %br
    %p
      Rest:
      = exercise_session.rest
    %p
      Tempo:
      = exercise_session.tempo
    %hr

%p
  %strong Notes:
  = simple_format(@workout_session.notes)

%p
  %strong Supplements:
  = @workout_session.supplements


%p
  = link_to "Edit", edit_workout_session_path(@workout_session)
  =# link_to "Delete", @workout_session, :confirm => 'Are you sure?', :method => :delete
  = button_to 'Delete', @workout_session, :confirm => 'Are you sure?', :method => :delete
  =# link_to "View All", workout_sessions_path
