-# title "Workout Session"
#client_notice
  = "Client: " + @workout_session.client.full_name unless @workout_session.client.blank?
= @workout_session.date.strftime("%m/%d/%Y")
%br
%p
  %strong
    Workout:
    = @workout_session.workout.name
  = link_to image_tag("EditIcon.jpg", :alt => "Edit"), edit_workout_session_path(@workout_session), :id => 'pdf_remove', :title => 'Edit this workout session', :class => 'tool-tip'
  = link_to image_tag("pdf-icon.png", :alt => "PDF"), workout_session_path(@workout_session, :format => "pdf"), :id => 'pdf_remove', :title => "Convert to PDF format for printing", :class => 'tool-tip'
- unless @workout_session.exercise_sessions.empty?
  .exercise_box.round
    - @workout_session.exercise_sessions.each do |exercise_session|
      %p
        %strong
          Exercise:
          - unless @workout_session.client.blank?
            = link_to exercise_session.exercise.name, exercise_path(exercise_session.exercise, :client => @workout_session.client)
          - else
            = link_to exercise_session.exercise.name, exercise_path(exercise_session.exercise)

      %br
      - exercise_session.weight_sets.each_with_index do |weight_set, index|
        - unless weight_set.weight.blank? and weight_set.reps.blank?
          - if exercise_session.weight_sets.size > 1
            %p
              %strong
                Set
                = index + 1
          - unless weight_set.weight.blank?
            %p
              Weight:
              = weight_set.weight
          - unless weight_set.reps.blank?
            %p
              Reps:
              = weight_set.reps
      %br
      - unless exercise_session.rest.blank?
        %p
          Rest:
          = exercise_session.rest
      - unless exercise_session.tempo.blank?
        %p
          Tempo:
          = exercise_session.tempo
      %hr

- unless @workout_session.notes.blank?
  %p
    %strong Notes:
    = simple_format(@workout_session.notes)

- unless @workout_session.supplements.blank?
  %p
    %strong Supplements:
    = @workout_session.supplements


%p
  =# link_to "Edit", edit_workout_session_path(@workout_session), :title => 'Edit this workout session', :class => 'tool-tip'
  =# link_to "Delete", @workout_session, :confirm => 'Are you sure?', :method => :delete
  = button_to 'Delete', @workout_session, :id => 'delete-alert', :method => :delete, :id => "pdf_remove", :title => 'Delete this workout session', :class => 'tool-tip'
  =# link_to "View All", workout_sessions_path
