-# title "Workout Session"
- unless @workout_session.client.blank?
  #client_notice
    - if current_user.coach?
      = link_to "Client: " + @workout_session.client.full_name, client_path(@workout_session.client), :title => 'Client information', :class => 'tool-tip'
    - else
      = "Client: " + @workout_session.client.full_name

= @workout_session.date.strftime("%m/%d/%Y")
%br
%p
  %strong
    Workout:
    = @workout_session.workout.name
  - if @workout_session.client_id.blank? or current_user.coach?
    = link_to image_tag("EditIcon.jpg", :alt => "Edit"), edit_workout_session_path(@workout_session), :id => 'pdf_remove', :title => 'Edit this workout session', :class => 'tool-tip'
  = link_to image_tag("pdf-icon.png", :alt => "PDF"), workout_session_path(@workout_session, :format => "pdf"), :id => 'pdf_remove', :title => "Convert to PDF format for printing", :class => 'tool-tip'
- unless @workout_session.exercise_sessions.empty?
  .exercise_box.round
    - @workout_session.exercise_sessions.each do |exercise_session|
      %p
        %strong
          Exercise:
          - unless @workout_session.client.blank?
            = link_to exercise_session.exercise.name, exercise_path(exercise_session.exercise, :client => @workout_session.client)
          - else
            = link_to exercise_session.exercise.name, exercise_path(exercise_session.exercise)
          - if exercise_session.exercise.videos.any?
            - if @workout_session.client.blank?
              = image_tag("video_icon.png", :alt => "Video", :rel => "#video_#{exercise_session.exercise.videos.last.id}", :id => 'pdf_remove', :title => "Watch video", :class => 'tool-tip')
              = render :partial => '/videos/video', :locals => {:video => exercise_session.exercise.videos.last}
            - elsif !exercise_session.exercise.videos.find_last_by_client_id(@workout_session.client_id).blank?
              = image_tag("video_icon.png", :alt => "Video", :rel => "#video_#{exercise_session.exercise.videos.find_last_by_client_id(@workout_session.client_id).id}", :id => 'pdf_remove', :title => "Watch video", :class => 'tool-tip')
              = render :partial => '/videos/video', :locals => {:video => exercise_session.exercise.videos.find_last_by_client_id(@workout_session.client_id)}

      %br
      - exercise_session.weight_sets.each_with_index do |weight_set, index|
        - unless weight_set.weight.blank? and weight_set.reps.blank?
          - if exercise_session.weight_sets.size > 1
            %p
              %strong
                Set
                = index + 1
          - unless weight_set.weight.blank?
            %p
              Weight:
              = weight_set.weight
          - unless weight_set.reps.blank?
            %p
              Reps:
              = weight_set.reps
      %br
      - unless exercise_session.rest.blank?
        %p
          Rest:
          = exercise_session.rest
      - unless exercise_session.tempo.blank?
        %p
          Tempo:
          = exercise_session.tempo
      %hr

- unless @workout_session.notes.blank?
  %p
    %strong Notes:
    = simple_format(@workout_session.notes)

- unless @workout_session.supplements.blank?
  %p
    %strong Supplements:
    = @workout_session.supplements


%p
  =# link_to "Edit", edit_workout_session_path(@workout_session), :title => 'Edit this workout session', :class => 'tool-tip'
  =# link_to "Delete", @workout_session, :confirm => 'Are you sure?', :method => :delete
  - if current_user.coach
    #pdf_remove
      = button_to 'Delete', @workout_session, :confirm => "Are you sure?", :id => 'delete-alert', :method => :delete, :title => 'Delete this workout session', :class => 'tool-tip'
  =# link_to "View All", workout_sessions_path
