- title "Group"

%p
  %strong Name:
  = @group.name

%p
  %strong Details:
  = @group.details

%p
  = link_to "Edit", edit_group_path(@group)
  |
  = link_to "Destroy", @group, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", groups_path
