<% title "Sign Up to Use The Senn Performance Tracker" %>

<p>Already have an account? <%= link_to "Log in", login_path %>.</p>

<div class="grey_box">
<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.check_box :coach %>
    <%= f.label :coach, "Fitness Professional, Strength Coach, or Physical Therapist" %><br />
  </p>
  <p>
    <%#= f.label :group_id, "Group" %><br />
    <%#= f.select :group_id, @groups, {:include_blank => 'None'} %>
  </p>
  <br/>
  <p><%= f.submit "Sign up" %></p>
<% end %>
</div>
