= form_for @user, :html => {:multipart => true} do |f|
  = f.error_messages
  %p
    = f.label :first_name
    %br
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br
    = f.text_field :last_name
  %p
    = f.label :username
    = f.text_field :username
  %p
    = f.label :email
    = f.text_field :email
  - if @user.coach?
    = f.label "Logo Image"
    = link_to_function 'UPLOAD', "$('#upload').show(); $('#url').hide();", :title => "Upload new image", :class => 'tool-tip'
    |
    = link_to_function 'URL', "$('#upload').hide(); $('#url').show();", :title => "URL of new image", :class => 'tool-tip'
    - unless @user.logo_image.blank?
      %p= image_tag @user.logo_image_url(:thumb).to_s
    #upload{:style => 'display:none'}
      = f.file_field :logo_image, :input_html => {:value => @user.logo_image_url.to_s}
    #url{:style => 'display:none'}
      = f.label :remote_logo_image_url, "Image URL:"
      = f.text_field :remote_logo_image_url
  %p
    = f.submit
