<% title "Sign Up to Use The Tracker" %>

<p>Already have an account? <%= link_to "Log in", login_path %>.</p>

<div class="grey_box">
<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <%- if false %>
    <p>
      <%= f.check_box :coach %>
      <%= f.label :coach, "Fitness Professional, Strength Coach, or Physical Therapist" %><br />
    </p>
  <% end %>
  <p>
    <%= f.check_box :is_gym %>
    <%= f.label :is_gym, "Gym" %><br />
    <%= f.fields_for :gym do |gym_form| %>
      <%= gym_form.label :name, "Gym name:" %>
      <%= gym_form.text_field :name %>
    <% end %>
  </p>
  <p>
    <%= f.check_box :is_trainer %>
    <%= f.label :is_trainer, "Personal Trainer" %><br />
  </p>
  <p>
    <%= f.check_box :is_client %>
    <%= f.label :is_client, "Personal Training Client" %><br />
  </p>
  <p>
    <%#= f.label :group_id, "Group" %><br />
    <%#= f.select :group_id, @groups, {:include_blank => 'None'} %>
  </p>
  <br/>
  <p><%= f.submit "Sign up" %></p>
<% end %>
</div>
