= form_for @client do |f|
  = f.error_messages
  - if current_user.is_trainer?
    = f.hidden_field :trainer_id, :value => current_user.trainer.id
  %ul.round
    %li
      = f.label :first_name
      = f.text_field :first_name
    %li
      = f.label :last_name
      = f.text_field :last_name
    %li
      = f.label :address
      = f.text_field :address
    %li
      = f.label :email
      = f.text_field :email
    %li
      = f.label :phone
      = f.text_field :phone
    %li
      = f.label :notes
      = f.text_area :notes

  = link_to "Save", nil, :class => "button submit"
  = link_to "Cancel", nil, :class => 'cancel'