= form_for @client do |f|
  = f.error_messages
  - if current_user.is_trainer?
    = f.hidden_field :trainer_id, :value => current_user.trainer.id
  - if current_user.is_gym?
    = f.label :trainer_id, "Trainer"
    = f.select :trainer_id, current_user.gym.trainers.all.collect {|t| [ t.full_name, t.id ] }, {:include_blank => false}
  %p
    = f.label :first_name
    %br
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br
    = f.text_field :last_name
  %p
    =# f.label :user_id
    =# f.text_field :user_id
    =# f.hidden_field :user_id, :value => current_user.id
  %p
    = f.label :address
    %br
    = f.text_field :address
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :phone
    %br
    = f.text_field :phone
  %p
    = f.label :notes
    %br
    = f.text_area :notes
  %p
    = f.submit
