- if current_user.is_client?
  #client_notice.round
    = @client.full_name

- unless @client.biosignatures.empty?
  %h3 Body Fat Measures
  %table
    %tr
      %th Date
      %th Weight
      %th Chin
      %th Cheek
      %th Pec
      %th Tri
      %th SubS
      %th SupraI
      %th MidA
      %th Umb
      %th Knee
      %th Calf
      %th Quad
      %th Ham
      %th BF%
      %th LeanMass
      %th FatMass
      %th
    - @client.biosignatures.sort_by(&:date).reverse.each do |biosignature|
      %tr
        %td= biosignature.date.strftime("%m/%d/%y")
        %td
          = biosignature.weight
          = "kg" if biosignature.weight_units == "kilograms"
          = "lb" if biosignature.weight_units == "pounds"

        %td= biosignature.chin
        %td= biosignature.cheek

        %td= biosignature.pec
        
        %td= biosignature.tri
        
        %td= biosignature.subscap
        
        %td= biosignature.suprailiac
        
        %td= biosignature.midaxil
        
        %td= biosignature.umbilical
        
        %td= biosignature.knee
        
        %td= biosignature.calf
        
        %td= biosignature.quad
        
        %td= biosignature.ham
        
        %td= biosignature.bodyfat_percent.round(1)
        %td
          = biosignature.lean_mass.round(1)
          = "kg" if biosignature.weight_units == "kilograms"
          = "lb" if biosignature.weight_units == "pounds"
        %td
          = biosignature.fat_mass.round(1)
          = "kg" if biosignature.weight_units == "kilograms"
          = "lb" if biosignature.weight_units == "pounds"
        %td
          - unless biosignature.notes.blank?
            = link_to image_tag('notes.png', :alt => "Notes"), '#', :title => "#{simple_format(biosignature.notes)}", :class => "tool-tip"
          - if current_user.coach?
            = link_to image_tag('EditIcon.jpg', :alt => "Edit BodyComp"), edit_biosignature_path(biosignature), :title => "Edit BodyComp entry", :class => "tool-tip"
            = link_to image_tag("small_camera_icon.png", :alt => "Pics"), photo_album_biosignature_path(biosignature), :title => "Add BodyComp pictures", :class => "tool-tip"
  
  - unless @neck_count.zero? and @shoulder_count.zero? and @chest_count.zero? and @arm_count.zero? and @waist_count.zero? and @hip_count.zero? and @thigh_count.zero? and @gastroc_count.zero?
    %h3 Anthropometric Measures
    %table
      %tr
        %th Date
        %th Neck
        %th Shoulder
        %th Chest
        %th Arm
        %th Waist
        %th Hip
        %th Thigh
        %th Calf
        %th Waist/Hip
        %th BMI
        %th
      - @client.biosignatures.sort_by(&:date).reverse.each do |biosignature|
        - unless biosignature.waist.zero? or biosignature.hip.zero?
          %tr
            %td= biosignature.date.strftime("%m/%d/%y")
            %td= biosignature.neck
            %td= biosignature.shoulder
            %td= biosignature.chest
            %td= biosignature.arm
            %td= biosignature.waist
            %td= biosignature.hip
            %td= biosignature.thigh
            %td= biosignature.gastroc
            %td= biosignature.waist_hip_ratio
            %td= biosignature.bmi
            %td
              - if current_user.coach?
                = link_to image_tag('EditIcon.jpg', :alt => "Edit BodyComp"), edit_biosignature_path(biosignature), :title => "Edit BodyComp entry", :class => "tool-tip"

  %table.noborder
    %tr
      %td
        %table.bodyfat.hide
          %caption Percent Body Fat
          %thead
            %tr
              %td
              - @client.biosignatures.sort_by(&:date).each do |biosig|
                %th{scope="col"}
                  = biosig.date.strftime("%m/%y")
          %tbody
            %tr
              %th{scope="row"}
                Percent Body Fat
              - @client.biosignatures.sort_by(&:date).each do |biosig|
                %td= biosig.bodyfat_percent.round(1)
      %td
        %table.leanmass.hide
          %caption Lean Mass
          %thead
            %tr
              %td
              - @client.biosignatures.sort_by(&:date).each do |biosig|
                %th{scope="col"}
                  = biosig.date.strftime("%m/%y")
          %tbody
            %tr
              %th{scope="row"}
                Lean Mass
              - @client.biosignatures.sort_by(&:date).each do |biosig|
                %td= biosig.lean_mass.round(1)
    %tr
      %td
        %table.fatmass.hide
          %caption Fat Mass
          %thead
            %tr
              %td
              - @client.biosignatures.sort_by(&:date).each do |biosig|
                %th{scope="col"}
                  = biosig.date.strftime("%m/%y")
          %tbody
            %tr
              %th{scope="row"}
                Lean Mass
              - @client.biosignatures.sort_by(&:date).each do |biosig|
                %td= biosig.fat_mass.round(1)
        %td
          %table.weight.hide
            %caption Body Weight
            %thead
              %tr
                %td
                - @client.biosignatures.sort_by(&:date).each do |biosig|
                  %th{scope="col"}
                    = biosig.date.strftime("%m/%y")
            %tbody
              %tr
                %th{scope="row"}
                  Body Weight
                - @client.biosignatures.sort_by(&:date).each do |biosig|
                  %td= biosig.weight
      %tr
        %td
          %table.bmi.hide
            %caption BMI
            %thead
              %tr
                %td
                - @client.biosignatures.sort_by(&:date).each do |biosig|
                  %th{scope="col"}
                    = biosig.date.strftime("%m/%y")
            %tbody
              %tr
                %th{scope="row"}
                  BMI
                - @client.biosignatures.sort_by(&:date).each do |biosig|
                  %td= biosig.bmi
      %tr
        %td
          - unless @chin_count.zero?
            %table.chin.hide
              %caption Chin (mm)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.chin.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Chin (mm)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.chin.zero?
                      %td= biosig.chin
        %td
          - unless @cheek_count.zero?
            %table.cheek.hide
              %caption Cheek (mm)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.cheek.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Cheek (mm)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.cheek.zero?
                      %td= biosig.cheek
      %tr
        %td
          - unless @pec_count.zero?
            %table.pec.hide
              %caption Pectoral (mm)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.pec.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Pectoral (mm)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.pec.zero?
                      %td= biosig.pec
        %td
          - unless @tri_count.zero?
            %table.tri.hide
              %caption Triceps (mm)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.tri.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Triceps (mm)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.tri.zero?
                      %td= biosig.tri
      %tr
        %td
          - unless @subscap_count.zero?
            %table.subscap.hide
              %caption Subscapular (mm)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.subscap.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Subscapular (mm)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.subscap.zero?
                      %td= biosig.subscap
        %td
          - unless @suprailiac_count.zero?
            %table.suprailiac.hide
              %caption Suprailiac (mm)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.suprailiac.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Suprailiac (mm)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.suprailiac.zero?
                      %td= biosig.suprailiac
      %tr
        %td
          - unless @midaxil_count.zero?
            %table.midaxil.hide
              %caption Midaxillary (mm)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.midaxil.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Midaxillary (mm)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.midaxil.zero?
                      %td= biosig.midaxil
        %td
          - unless @umbilical_count.zero?
            %table.umbilical.hide
              %caption Umbilical (mm)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.umbilical.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Umbilical (mm)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.umbilical.zero?
                      %td= biosig.umbilical
      %tr
        %td
          - unless @knee_count.zero?
            %table.knee.hide
              %caption Knee (mm)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.knee.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Knee (mm)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.knee.zero?
                      %td= biosig.knee
        %td
          - unless @calf_count.zero?
            %table.calf.hide
              %caption Calf (mm)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.calf.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Calf (mm)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.calf.zero?
                      %td= biosig.calf
      %tr
        %td
          - unless @quad_count.zero?
            %table.quad.hide
              %caption Quadriceps (mm)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.quad.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Quadriceps (mm)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.quad.zero?
                      %td= biosig.quad
        %td
          - unless @ham_count.zero?
            %table.ham.hide
              %caption Hamstrings (mm)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.ham.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Hamstrings (mm)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.ham.zero?
                      %td= biosig.ham
      %tr
        %td
          - unless @neck_count.zero?
            %table.neck.hide
              %caption Neck (in)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.neck.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Neck (in)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.neck.zero?
                      %td= biosig.neck
        %td
          - unless @shoulder_count.zero?
            %table.shoulder.hide
              %caption Shoulder (in)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.shoulder.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Shoulder (in)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.shoulder.zero?
                      %td= biosig.shoulder
      %tr
        %td
          - unless @chest_count.zero?
            %table.chest.hide
              %caption Chest (in)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.chest.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Chest (in)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.chest.zero?
                      %td= biosig.chest
        %td
          - unless @arm_count.zero?
            %table.arm.hide
              %caption Arm (in)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.arm.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Arm (in)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.arm.zero?
                      %td= biosig.arm
      %tr
        %td
          - unless @waist_count.zero?
            %table.waist.hide
              %caption Waist (in)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.waist.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Waist (in)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.waist.zero?
                      %td= biosig.waist
        %td
          - unless @hip_count.zero?
            %table.hip.hide
              %caption Hip (in)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.hip.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Hip (in)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.hip.zero?
                      %td= biosig.hip
      %tr
        %td
          - unless @waist_hip_ratio_count.zero?
            %table.waist_hip_ratio.hide
              %caption Waist-Hip Ratio
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.hip.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Waist-Hip Ratio
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.hip.zero?
                      %td= biosig.waist_hip_ratio * 100
      %tr
        %td
          - unless @thigh_count.zero?
            %table.thigh.hide
              %caption Thigh (in)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.thigh.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Thigh (in)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.thigh.zero?
                      %td= biosig.thigh
        %td
          - unless @gastroc_count.zero?
            %table.gastroc.hide
              %caption Calf (in)
              %thead
                %tr
                  %td
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.gastroc.zero?
                      %th{scope="col"}
                        = biosig.date.strftime("%m/%y")
              %tbody
                %tr
                  %th{scope="row"}
                    Calf (in)
                  - @client.biosignatures.sort_by(&:date).each do |biosig|
                    - unless biosig.gastroc.zero?
                      %td= biosig.gastroc


:javascript
  $('.bodyfat').visualize({type: 'line'});
  $('.leanmass').visualize({type: 'line'});
  $('.fatmass').visualize({type: 'line'});
  $('.weight').visualize({type: 'line'});
  $('.bmi').visualize({type: 'line'});
  $('.chin').visualize({type: 'line'});
  $('.cheek').visualize({type: 'line'});
  $('.pec').visualize({type: 'line'});
  $('.tri').visualize({type: 'line'});
  $('.subscap').visualize({type: 'line'});
  $('.suprailiac').visualize({type: 'line'});
  $('.midaxil').visualize({type: 'line'});
  $('.umbilical').visualize({type: 'line'});
  $('.knee').visualize({type: 'line'});
  $('.calf').visualize({type: 'line'});
  $('.quad').visualize({type: 'line'});
  $('.ham').visualize({type: 'line'});
  $('.neck').visualize({type: 'line'});
  $('.shoulder').visualize({type: 'line'});
  $('.chest').visualize({type: 'line'});
  $('.arm').visualize({type: 'line'});
  $('.waist').visualize({type: 'line'});
  $('.hip').visualize({type: 'line'});
  $('.waist_hip_ratio').visualize({type: 'line'});
  $('.thigh').visualize({type: 'line'});
  $('.gastroc').visualize({type: 'line'});