= link_to image_tag("orange_plus_icon.png", :alt => "New"), new_client_path, :title => 'Add new client', :class => 'tool-tip'
%table.pretty
  %tr
    %th Name
    %th Address
    %th Email
    %th Phone
  - for client in @clients
    %tr
      %td= link_to client.full_name, client_path(client), :title => "Show client information", :class => "tool-tip"
      %td= client.address
      %td= client.email
      %td= client.phone
      %td
        =# link_to 'Biosignature', new_biosignature_path(:client => client), :title => "New Body Comp entry", :class => "tool-tip"
        = link_to image_tag("b_icon.jpg", :alt => "New Biosig"), new_biosignature_path(:client => client), :title => "New Body Comp entry", :class => "tool-tip"

%p=# link_to "New Client", new_client_path
