- title "Body Comp"
#client_notice.round
  = link_to "Client: " + @client.full_name, client_path(@client), :title => "Client information", :class => 'tool-tip' if current_user.coach?
  = @client.full_name unless current_user.coach?

- unless @client.bodycomps.empty?

  %table.priority_box
    %tr
      %td.red
        Priority #1
      %td.blue
        Priority #2
      %td.green
        Priority #3
  %h3 Body Fat Measures
  %table{:style => " "}
    %tr
      %th Date
      %th Weight
      %th Chin
      %th Cheek
      %th Pec
      %th Tri
      %th SubS
      %th SupraI
      %th MidA
      %th Umb
      %th Knee
      %th Calf
      %th Quad
      %th Ham
      %th BF%
      %th LeanMass
      %th FatMass
      %th
    - @client.bodycomps.sort_by(&:date).reverse.each do |bodycomp|
      %tr
        %td= bodycomp.date.strftime("%m/%d/%y")
        %td
          = bodycomp.weight
          = "kg" if bodycomp.weight_units == "kilograms"
          = "lb" if bodycomp.weight_units == "pounds"

        %td= bodycomp.chin
        %td= bodycomp.cheek

        - unless bodycomp.priority_list[0][0].include?("pec") or bodycomp.priority_list[1][0].include?("pec") or bodycomp.priority_list[2][0].include?("pec")
          %td= bodycomp.pec
        - else
          - if bodycomp.priority_list[0][0].include?("pec")
            %td.red= bodycomp.pec
          - elsif bodycomp.priority_list[1][0].include?("pec")
            %td.blue= bodycomp.pec
          - elsif bodycomp.priority_list[2][0].include?("pec")
            %td.green= bodycomp.pec

        - unless bodycomp.priority_list[0][0].include?("tri") or bodycomp.priority_list[1][0].include?("tri") or bodycomp.priority_list[2][0].include?("tri")
          %td= bodycomp.tri
        - else
          - if bodycomp.priority_list[0][0].include?("tri")
            %td.red= bodycomp.tri
          - elsif bodycomp.priority_list[1][0].include?("tri")
            %td.blue= bodycomp.tri
          - elsif bodycomp.priority_list[2][0].include?("tri")
            %td.green= bodycomp.tri

        - unless bodycomp.priority_list[0][0].include?("subscap") or bodycomp.priority_list[1][0].include?("subscap") or bodycomp.priority_list[2][0].include?("subscap")
          %td= bodycomp.subscap
        - else
          - if bodycomp.priority_list[0][0].include?("subscap")
            %td.red= bodycomp.subscap
          - elsif bodycomp.priority_list[1][0].include?("subscap")
            %td.blue= bodycomp.subscap
          - elsif bodycomp.priority_list[2][0].include?("subscap")
            %td.green= bodycomp.subscap

        - unless bodycomp.priority_list[0][0].include?("suprailiac") or bodycomp.priority_list[1][0].include?("suprailiac") or bodycomp.priority_list[2][0].include?("suprailiac")
          %td= bodycomp.suprailiac
        - else
          - if bodycomp.priority_list[0][0].include?("suprailiac")
            %td.red= bodycomp.suprailiac
          - elsif bodycomp.priority_list[1][0].include?("suprailiac")
            %td.blue= bodycomp.suprailiac
          - elsif bodycomp.priority_list[2][0].include?("suprailiac")
            %td.green= bodycomp.suprailiac

        - unless bodycomp.priority_list[0][0].include?("midaxil") or bodycomp.priority_list[1][0].include?("midaxil") or bodycomp.priority_list[2][0].include?("midaxil")
          %td= bodycomp.midaxil
        - else
          - if bodycomp.priority_list[0][0].include?("midaxil")
            %td.red= bodycomp.midaxil
          - elsif bodycomp.priority_list[1][0].include?("midaxil")
            %td.blue= bodycomp.midaxil
          - elsif bodycomp.priority_list[2][0].include?("midaxil")
            %td.green= bodycomp.midaxil

        - unless bodycomp.priority_list[0][0].include?("umbilical") or bodycomp.priority_list[1][0].include?("umbilical") or bodycomp.priority_list[2][0].include?("umbilical")
          %td= bodycomp.umbilical
        - else
          - if bodycomp.priority_list[0][0].include?("umbilical")
            %td.red= bodycomp.umbilical
          - elsif bodycomp.priority_list[1][0].include?("umbilical")
            %td.blue= bodycomp.umbilical
          - elsif bodycomp.priority_list[2][0].include?("umbilical")
            %td.green= bodycomp.umbilical

        - unless bodycomp.priority_list[0][0].include?("knee") or bodycomp.priority_list[1][0].include?("knee") or bodycomp.priority_list[2][0].include?("knee")
          %td= bodycomp.knee
        - else
          - if bodycomp.priority_list[0][0].include?("knee")
            %td.red= bodycomp.knee
          - elsif bodycomp.priority_list[1][0].include?("knee")
            %td.blue= bodycomp.knee
          - elsif bodycomp.priority_list[2][0].include?("knee")
            %td.green= bodycomp.knee

        - unless bodycomp.priority_list[0][0].include?("calf") or bodycomp.priority_list[1][0].include?("calf") or bodycomp.priority_list[2][0].include?("calf")
          %td= bodycomp.calf
        - else
          - if bodycomp.priority_list[0][0].include?("calf")
            %td.red= bodycomp.calf
          - elsif bodycomp.priority_list[1][0].include?("calf")
            %td.blue= bodycomp.calf
          - elsif bodycomp.priority_list[2][0].include?("calf")
            %td.green= bodycomp.calf

        - unless bodycomp.priority_list[0][0].include?("quad") or bodycomp.priority_list[1][0].include?("quad") or bodycomp.priority_list[2][0].include?("quad")
          %td= bodycomp.quad
        - else
          - if bodycomp.priority_list[0][0].include?("quad")
            %td.red= bodycomp.quad
          - elsif bodycomp.priority_list[1][0].include?("quad")
            %td.blue= bodycomp.quad
          - elsif bodycomp.priority_list[2][0].include?("quad")
            %td.green= bodycomp.quad

        - unless bodycomp.priority_list[0][0].include?("ham") or bodycomp.priority_list[1][0].include?("ham") or bodycomp.priority_list[2][0].include?("ham")
          %td= bodycomp.ham
        - else
          - if bodycomp.priority_list[0][0].include?("ham")
            %td.red= bodycomp.ham
          - elsif bodycomp.priority_list[1][0].include?("ham")
            %td.blue= bodycomp.ham
          - elsif bodycomp.priority_list[2][0].include?("ham")
            %td.green= bodycomp.ham

        %td= bodycomp.bodyfat_percent.round(1)
        %td
          = bodycomp.lean_mass.round(1)
          = "kg" if bodycomp.weight_units == "kilograms"
          = "lb" if bodycomp.weight_units == "pounds"
        %td
          = bodycomp.fat_mass.round(1)
          = "kg" if bodycomp.weight_units == "kilograms"
          = "lb" if bodycomp.weight_units == "pounds"
  %h3 Anthropometric Measures
  %table{:style => "width: 300px;"}
    %tr
      %th Date
      %th Waist
      %th Hip
      %th Waist/Hip
    - @client.bodycomps.sort_by(&:date).reverse.each do |bodycomp|
      - unless bodycomp.waist.zero? or bodycomp.hip.zero?
        %tr
          %td= bodycomp.date.strftime("%m/%d/%y")
          %td= bodycomp.waist
          %td= bodycomp.hip
          %td= bodycomp.waist_hip_ratio


%table.bodyfat.hide
  %caption Percent Body Fat
  %thead
    %tr
      %td
      - @client.bodycomps.sort_by(&:date).each do |bodycomp|
        %th{scope="col"}
          = bodycomp.date.strftime("%m/%d/%y")
  %tbody
    %tr
      %th{scope="row"}
        Percent Body Fat
      - @client.bodycomps.sort_by(&:date).each do |bodycomp|
        %td= bodycomp.bodyfat_percent.round(1)

%table.weight.hide
  %caption Body Weight
  %thead
    %tr
      %td
      - @client.bodycomps.sort_by(&:date).each do |bodycomp|
        %th{scope="col"}
          = bodycomp.date.strftime("%m/%d/%y")
  %tbody
    %tr
      %th{scope="row"}
        Body Weight
      - @client.bodycomps.sort_by(&:date).each do |bodycomp|
        %td= bodycomp.weight

%table.leanmass.hide
  %caption Lean Mass
  %thead
    %tr
      %td
      - @client.bodycomps.sort_by(&:date).each do |bodycomp|
        %th{scope="col"}
          = bodycomp.date.strftime("%m/%d/%y")
  %tbody
    %tr
      %th{scope="row"}
        Lean Mass
      - @client.bodycomps.sort_by(&:date).each do |bodycomp|
        %td= bodycomp.lean_mass.round(1)

%table.fatmass.hide
  %caption Fat Mass
  %thead
    %tr
      %td
      - @client.bodycomps.sort_by(&:date).each do |bodycomp|
        %th{scope="col"}
          = bodycomp.date.strftime("%m/%d/%y")
  %tbody
    %tr
      %th{scope="row"}
        Lean Mass
      - @client.bodycomps.sort_by(&:date).each do |bodycomp|
        %td= bodycomp.fat_mass.round(1)

- unless @chin_count.zero?
  %table.chin.hide
    %caption Chin
    %thead
      %tr
        %td
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.chin.zero?
            %th{scope="col"}
              = bodycomp.date.strftime("%m/%d/%y")
    %tbody
      %tr
        %th{scope="row"}
          Chin
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.chin.zero?
            %td= bodycomp.chin

- unless @cheek_count.zero?
  %table.cheek.hide
    %caption Cheek
    %thead
      %tr
        %td
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.cheek.zero?
            %th{scope="col"}
              = bodycomp.date.strftime("%m/%d/%y")
    %tbody
      %tr
        %th{scope="row"}
          Cheek
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.cheek.zero?
            %td= bodycomp.cheek

- unless @pec_count.zero?
  %table.pec.hide
    %caption Pectoral
    %thead
      %tr
        %td
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.pec.zero?
            %th{scope="col"}
              = bodycomp.date.strftime("%m/%d/%y")
    %tbody
      %tr
        %th{scope="row"}
          Pectoral
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.pec.zero?
            %td= bodycomp.pec

- unless @tri_count.zero?
  %table.tri.hide
    %caption Triceps
    %thead
      %tr
        %td
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.tri.zero?
            %th{scope="col"}
              = bodycomp.date.strftime("%m/%d/%y")
    %tbody
      %tr
        %th{scope="row"}
          Triceps
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.tri.zero?
            %td= bodycomp.tri

- unless @subscap_count.zero?
  %table.subscap.hide
    %caption Subscapular
    %thead
      %tr
        %td
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.subscap.zero?
            %th{scope="col"}
              = bodycomp.date.strftime("%m/%d/%y")
    %tbody
      %tr
        %th{scope="row"}
          Subscapular
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.subscap.zero?
            %td= bodycomp.subscap

- unless @suprailiac_count.zero?
  %table.suprailiac.hide
    %caption Suprailiac
    %thead
      %tr
        %td
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.suprailiac.zero?
            %th{scope="col"}
              = bodycomp.date.strftime("%m/%d/%y")
    %tbody
      %tr
        %th{scope="row"}
          Suprailiac
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.suprailiac.zero?
            %td= bodycomp.suprailiac

- unless @midaxil_count.zero?
  %table.midaxil.hide
    %caption Midaxillary
    %thead
      %tr
        %td
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.midaxil.zero?
            %th{scope="col"}
              = bodycomp.date.strftime("%m/%d/%y")
    %tbody
      %tr
        %th{scope="row"}
          Midaxillary
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.midaxil.zero?
            %td= bodycomp.midaxil

- unless @umbilical_count.zero?
  %table.umbilical.hide
    %caption Umbilical
    %thead
      %tr
        %td
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.umbilical.zero?
            %th{scope="col"}
              = bodycomp.date.strftime("%m/%d/%y")
    %tbody
      %tr
        %th{scope="row"}
          Umbilical
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.umbilical.zero?
            %td= bodycomp.umbilical

- unless @knee_count.zero?
  %table.knee.hide
    %caption Knee
    %thead
      %tr
        %td
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.knee.zero?
            %th{scope="col"}
              = bodycomp.date.strftime("%m/%d/%y")
    %tbody
      %tr
        %th{scope="row"}
          Knee
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.knee.zero?
            %td= bodycomp.knee

- unless @calf_count.zero?
  %table.calf.hide
    %caption Calf
    %thead
      %tr
        %td
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.calf.zero?
            %th{scope="col"}
              = bodycomp.date.strftime("%m/%d/%y")
    %tbody
      %tr
        %th{scope="row"}
          Calf
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.calf.zero?
            %td= bodycomp.calf

- unless @quad_count.zero?
  %table.quad.hide
    %caption Quadriceps
    %thead
      %tr
        %td
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.quad.zero?
            %th{scope="col"}
              = bodycomp.date.strftime("%m/%d/%y")
    %tbody
      %tr
        %th{scope="row"}
          Quadriceps
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.quad.zero?
            %td= bodycomp.quad

- unless @ham_count.zero?
  %table.ham.hide
    %caption Hamstrings
    %thead
      %tr
        %td
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.ham.zero?
            %th{scope="col"}
              = bodycomp.date.strftime("%m/%d/%y")
    %tbody
      %tr
        %th{scope="row"}
          Hamstrings
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.ham.zero?
            %td= bodycomp.ham

- unless @waist_count.zero?
  %table.waist.hide
    %caption Waist
    %thead
      %tr
        %td
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.waist.zero?
            %th{scope="col"}
              = bodycomp.date.strftime("%m/%d/%y")
    %tbody
      %tr
        %th{scope="row"}
          Waist
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.waist.zero?
            %td= bodycomp.waist

- unless @hip_count.zero?
  %table.hip.hide
    %caption Hip
    %thead
      %tr
        %td
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.hip.zero?
            %th{scope="col"}
              = bodycomp.date.strftime("%m/%d/%y")
    %tbody
      %tr
        %th{scope="row"}
          Hip
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.hip.zero?
            %td= bodycomp.hip

- unless @waist_hip_ratio_count.zero?
  %table.waist_hip_ratio.hide
    %caption Waist-Hip Ratio
    %thead
      %tr
        %td
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.hip.zero?
            %th{scope="col"}
              = bodycomp.date.strftime("%m/%d/%y")
    %tbody
      %tr
        %th{scope="row"}
          Waist-Hip Ratio
        - @client.bodycomps.sort_by(&:date).each do |bodycomp|
          - unless bodycomp.hip.zero?
            %td= bodycomp.waist_hip_ratio * 100



:javascript
  $('.bodyfat').visualize({type: 'line'});
  $('.weight').visualize({type: 'line'});
  $('.leanmass').visualize({type: 'line'});
  $('.fatmass').visualize({type: 'line'});
  $('.chin').visualize({type: 'line'});
  $('.cheek').visualize({type: 'line'});
  $('.pec').visualize({type: 'line'});
  $('.tri').visualize({type: 'line'});
  $('.subscap').visualize({type: 'line'});
  $('.suprailiac').visualize({type: 'line'});
  $('.midaxil').visualize({type: 'line'});
  $('.umbilical').visualize({type: 'line'});
  $('.knee').visualize({type: 'line'});
  $('.calf').visualize({type: 'line'});
  $('.quad').visualize({type: 'line'});
  $('.ham').visualize({type: 'line'});
  $('.waist').visualize({type: 'line'});
  $('.hip').visualize({type: 'line'});
  $('.waist_hip_ratio').visualize({type: 'line'});