- title "Client"

%ul.invisible
  %li= link_to "Edit", edit_client_path(@client), :class => 'button'
  %li= link_to "Back", nil, :class => 'back'
%ul.round
  %li= @client.full_name
  - unless @client.bodycomps.blank?
    %li
      Age:
      = @client.bodycomps.last.age
    %li
      Weight:
      = @client.bodycomps.last.weight
      - if @client.bodycomps.last.weight_units == "pounds"
        = "pounds"
      - if @client.bodycomps.last.weight_units == "kilograms"
        = "kilograms"
    %li
      Height:
      = @client.bodycomps.last.height
      - if @client.bodycomps.last.height_units == "inches"
        = "inches"
      - if @client.bodycomps.last.height_units == "centimeters"
        = "centimeters"
  %li
    = @client.address
    = @client.country
  %li= mail_to @client.email
  - unless @client.user.blank?
    %li= @client.user.username
  - else
    %li
      Client has not signed up yet
  %li
    Phone:
    = @client.phone
  %li
    Notes
    = simple_format(@client.notes)