-# title "Client"
#client_notice
  = "Client: " + @client.full_name

%ul.tabs
  %li= link_to 'Calendar', '#clientcalendar_tab', :title => "Client's calendar of workouts", :class => "tool-tip"
  %li= link_to 'BodyComp', '#clientbodycomps_tab', :title => "Client BodyComp", :class => "tool-tip"
  %li= link_to 'Pics', '#clientpics_tab', :title => "Client pictures", :class => "tool-tip"
  %li= link_to 'Forms', '#clientforms_tab', :title => "Client forms", :class => "tool-tip"
  %li= link_to 'Workouts', '#clientworkouts_tab', :title => "Client workouts", :class => "tool-tip"
  %li= link_to 'Information', '#clientinformation_tab', :title => "Client information", :class => "tool-tip"
  

.ajax_pane
  .block
    .panes
      #clientcalendar_tab.clientcalendar_tab
        #calendar
          %h2{:id => 'month'}
            = link_to (@date - 1.month).strftime("%b") + "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m")
            =h @date.strftime("%B %Y")
            = link_to ">" + (@date + 1.month).strftime("%b"), :month => (@date.end_of_month+1).strftime("%Y-%m")
          - calendar_for @workout_sessions, :year => @date.year, :month => @date.month do |calendar|
            = calendar.head("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
            - calendar.day(:day_method => :date) do |date, workout_sessions|
              = link_to date.day, new_workout_session_path(:user => @user, :date => date, :quick => 'true'), :title => "Create a new workout for " + date.strftime("%a %b %d"), :class => "tool-tip", :rel => 'facebox[.bolder]'
              %ul
                - workout_sessions.each do |workout_session|
                  - if workout_session.client.blank?
                    %li= link_to workout_session.workout.name, workout_session, :title => "View workout", :class => "tool-tip"
                  - else
                    %li.red_text= link_to workout_session.workout.name, workout_session, :title => "View workout", :class => "tool-tip"
      #clientbodycomps_tab
        - unless @client.biosignatures.empty?
          =# link_to "New Body Comp", new_biosignature_path(:client => @client), :title => "New Body Comp entry", :class => "tool-tip"
          = link_to image_tag('b_icon.jpg', :alt => "New BodyComp"), new_biosignature_path(:client => @client), :title => "New BodyComp entry", :class => "tool-tip"
          = render :partial => 'clients/show_biosig_graphs', :client => @client
      #clientpics_tab
        - @client.biosignatures.each do |biosignature|
          - unless biosignature.album.blank?
            %table
              %tr
                %td= biosignature.date.strftime("%m/%d/%Y")
              %tr
              - biosignature.album.images.each do |image|
                %td
                  = embedded_image_tag(image)
          - else
            No pictures for this client yet.
      #clientforms_tab
        No forms for this client yet.
      #clientworkouts_tab
        - @client.workout_sessions.reverse.each do |workout_session|
          %ul
            %li= link_to workout_session.date.strftime("%m/%d/%Y"), workout_session, :title => "View workout", :class => "tool-tip"
      #clientinformation_tab
        - unless @client.biosignatures.blank?
          %p
            %strong Age:
            = @client.biosignatures.last.age
          %p
            %strong Height:
            = @client.biosignatures.last.height
            = "inches" if @client.biosignatures.last.height_units == "inches"
            = "centimeters" if @client.biosignatures.last.height_units == "centimeters"
        %p
          %strong Address:
          = @client.address
        %p
          %strong Country:
          = @client.country
        %p
          %strong Email:
          = @client.email
        %p
          %strong Phone:
          = @client.phone

        %p
          =# link_to "Edit client information", edit_client_path(@client)
          = link_to image_tag("EditIcon.jpg", :alt => "Edit information"), edit_client_path(@client), :title => "Edit client information", :class => 'tool-tip'

=# link_to_function 'Pictures', "toggle_client_pictures(this)", :title => "Client pictures", :class => 'tool-tip'
=# link_to_function image_tag("camera_icon.png", :alt => "Pictures"), "toggle_client_pictures(this)", :title => "Client pictures", :class => 'tool-tip'

=# link_to_function 'Workouts', "toggle_client_workouts(this)", :title => "Client workouts", :class => 'tool-tip'
=# link_to_function image_tag("dumbbell_icon.png", :alt => "Workouts"), "toggle_client_workouts(this)", :title => "Client workouts", :class => 'tool-tip'

=# link_to_function 'Information', "toggle_client_info(this)", :title => "Client information", :class => 'tool-tip'
=# link_to_function image_tag("clipboard_icon.png", :alt => "Information"), "toggle_client_info(this)", :title => "Client information", :class => 'tool-tip'
