- title "Client"

.info
  = @client.full_name

%ul.invisible
  %li= link_to "Edit", edit_client_path(@client), :class => 'button'
  %li= link_to "Back", nil, :class => 'back'

%ul.round
  %li.arrow= link_to "Workouts", workout_sessions_path(:client => @client)
  %li.arrow= link_to "Bodycomps", bodycomps_path(:client => @client)

%ul.round
  %li= @client.full_name
  - unless @client.bodycomps.blank?
    %li
      %label Age
      = @client.bodycomps.last.age
    %li
      %label Weight
      = @client.bodycomps.last.weight
      - if @client.bodycomps.last.weight_units == "pounds"
        = "pounds"
      - if @client.bodycomps.last.weight_units == "kilograms"
        = "kilograms"
    %li
      %label Height
      = @client.bodycomps.last.height
      - if @client.bodycomps.last.height_units == "inches"
        = "inches"
      - if @client.bodycomps.last.height_units == "centimeters"
        = "centimeters"
  - unless @client.address.blank?
    %li
      = @client.address
  - unless @client.email.blank?
    %li= mail_to @client.email
  - unless @client.user.blank?
    %li
      %label Username
      = @client.user.username
  - else
    %li
      Client has not signed up yet
  - unless @client.phone.blank?
    %li
      %label Phone
      = @client.phone
  - unless @client.notes.blank?
    %li
      %label Notes
      = simple_format(@client.notes)