-# unless @current_user.group.blank?
  -#title "Senn Performance - " + @current_user.group.name
-#title "Senn Performance Tracker"

%ul.tabs
  %li= link_to 'Calendar', '#mycalendar_tab', :title => "My calendar of workouts", :class => "tool-tip"
  %li= link_to 'Clients', '#myclients_tab', :title => "My clients", :class => "tool-tip" if @current_user.coach
  %li= link_to 'Exercises', '#myexercises_tab', :title => "My exercises", :class => "tool-tip"
  %li= link_to 'BodyComp', '#mybodycomp_tab', :title => "My BodyComp", :class => "tool-tip" if @current_user.is_client?
  %li= link_to 'FoodLog', '#myfoodlog_tab', :title => "My FoodLog", :class => "tool-tip" if @current_user.is_client?
  %li= link_to 'Downloads', '#mydownloads_tab', :title => "My downloads", :class => "tool-tip" if @current_user.is_client?

.ajax_pane
  .block
    .panes
      #mycalendar_tab.mycalendar_tab
        - if current_user.username == 'jeremysenn'
          - form_tag '/', :method => 'get', :id => "switch_calendar" do
            =# select_tag :user, options_for_select(@users.map {|u| [u.username]}, params[:user])
            =# submit_tag "View Calendar", :name => nil
        - if current_user.is_client?
          #client_notice
            = "Client: " + @client.full_name
        #calendar
          %h2{:id => 'month'}
            = link_to (@date - 1.month).strftime("%b") + "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m"), :user => @user.username
            =h @date.strftime("%B %Y")
            = link_to ">" + (@date + 1.month).strftime("%b"), :month => (@date.end_of_month+1).strftime("%Y-%m"), :user => @user.username
          - calendar_for @workout_sessions, :year => @date.year, :month => @date.month do |calendar|
            = calendar.head("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
            - calendar.day(:day_method => :date) do |date, workout_sessions|
              = link_to date.day, new_workout_session_path(:user => @user, :date => date, :quick => 'true'), :title => "Create a new workout for " + date.strftime("%a %b %d"), :class => "tool-tip", :rel => 'facebox[.bolder]'
              %ul
                - workout_sessions.each do |workout_session|
                  - if workout_session.client.blank?
                    %li= link_to workout_session.workout.name, workout_session, :title => "View workout", :class => "tool-tip"
                  - else
                    %li.red_text= link_to workout_session.workout.name, workout_session, :title => "View workout", :class => "tool-tip"
      - if @current_user.coach?
        #myclients_tab
          = render :partial => '/clients/show_clients'
      #myexercises_tab
        = render :partial => 'exercises/show_exercises'
      - if current_user.is_client?
        #mybodycomps_tab
          - unless Client.find(current_user.client_training_id).biosignatures.empty?
            =# link_to "New Body Comp", new_biosignature_path(:client => @client), :title => "New Body Comp entry", :class => "tool-tip"
            = render :partial => 'clients/show_biosig_graphs', :client => Client.find(current_user.client_training_id)
          - else
            No BodyComp entries yet.
        #myfoodlog_tab
          = render :partial => 'foodlogs/show_foodlogs', :client => Client.find(current_user.client_training_id)
        #mydownloads_tab
          = render :partial => 'clients/downloads', :client => Client.find(current_user.client_training_id)


