-# unless @current_user.group.blank?
  -#title "Senn Performance - " + @current_user.group.name
-title "Senn Performance Tracker"

- if current_user.username == 'jeremysenn'
  - form_tag '/', :method => 'get', :id => "switch_calendar" do
    =# select_tag :user, options_for_select(@users.map {|u| [u.username]}, params[:user])
    =# submit_tag "View Calendar", :name => nil

#calendar
  %h2{:id => 'month'}
    = link_to (@date - 1.month).strftime("%b") + "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m"), :user => @user.username
    =h @date.strftime("%B %Y")
    = link_to ">" + (@date + 1.month).strftime("%b"), :month => (@date.end_of_month+1).strftime("%Y-%m"), :user => @user.username
  - calendar_for @workout_sessions, :year => @date.year, :month => @date.month do |calendar|
    = calendar.head("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
    - calendar.day(:day_method => :date) do |date, workout_sessions|
      = link_to date.day, new_workout_session_path(:user => @user, :date => date, :quick => 'true'), :title => "Create a new workout for " + date.strftime("%a %b %d"), :class => "tool-tip", :rel => 'facebox[.bolder]'
      %ul
        - workout_sessions.each do |workout_session|
          %li= link_to workout_session.workout.name, workout_session, :title => "View workout", :class => "tool-tip"