= form_for @bodycomp do |f|
  = f.error_messages
  .measures_box.round
    %strong General Info
    %p
      = f.label :date
      %br
      - unless @bodycomp.date.blank?
        = f.text_field :date, :value => @bodycomp.date.strftime("%m/%d/%Y"), :class => "date-pick span-3 round"
      - else
        = f.text_field :date, :class => "date-pick span-3 round"

    =# f.label :client_id
    = f.hidden_field :client_id, :value => @bodycomp.client.id

    %p
      = f.label :sex
      %br
      = f.select :sex, { "Female" => "Female", "Male" => "Male"}
    %p
      = f.label :age
      %br
      = f.text_field :age, :class => "span-2 round"
    %p
      = f.label :height
      %br
      = f.text_field :height, :class => "span-2 round"
    %p
      = f.label :height_units
      %br
      = f.select :height_units, { "Inches" => "inches", "Centimeters" => "centimeters"}
      =# f.text_field :height_units
    %p
      = f.label :weight
      %br
      = f.text_field :weight, :class => "span-2 round"
    %p
      = f.label :weight_units
      %br
      = f.select :weight_units, { "Kilograms" => "kilograms", "Pounds" => "pounds", }
      =# f.text_field :weight_units
  .measures_box.round
    %strong Skinfold Measures (mm)
    %p
      = f.label :chin
      %br
      = f.text_field :chin, :class => "span-2 round"
    %p
      = f.label :cheek
      %br
      = f.text_field :cheek, :class => "span-2 round"
    %p
      = f.label "Pectoral*"
      %br
      = f.text_field :pec, :class => "span-2 round"
    %p
      = f.label "Triceps*"
      %br
      = f.text_field :tri, :class => "span-2 round"
    %p
      = f.label "Subscapular*"
      %br
      = f.text_field :subscap, :class => "span-2 round"
    %p
      = f.label "Suprailiac*"
      %br
      = f.text_field :suprailiac, :class => "span-2 round"
    %p
      = f.label "Midaxillary*"
      %br
      = f.text_field :midaxil, :class => "span-2 round"
    %p
      = f.label "Umbilical*"
      %br
      = f.text_field :umbilical, :class => "span-2 round"
    %p
      = f.label :knee
      %br
      = f.text_field :knee, :class => "span-2 round"
    %p
      = f.label :calf
      %br
      = f.text_field :calf, :class => "span-2 round"
    %p
      = f.label "Quadriceps*"
      %br
      = f.text_field :quad, :class => "span-2 round"
    %p
      = f.label "Hamstring"
      %br
      = f.text_field :ham, :class => "span-2 round"
    %p
      *Needed for body fat calculation
  .measures_box.round
    %strong Anthropometric Measures (in)
    %p
      = f.label :neck
      %br
      = f.text_field :neck, :class => "span-2 round"
    %p
      = f.label :shoulder
      %br
      = f.text_field :shoulder, :class => "span-2 round"
    %p
      = f.label :chest
      %br
      = f.text_field :chest, :class => "span-2 round"
    %p
      = f.label :arm
      %br
      = f.text_field :arm, :class => "span-2 round"
    %p
      = f.label :waist
      %br
      = f.text_field :waist, :class => "span-2 round"
    %p
      = f.label :hip
      %br
      = f.text_field :hip, :class => "span-2 round"
    %p
      = f.label :thigh
      %br
      = f.text_field :thigh, :class => "span-2 round"
    %p
      = f.label :calf
      %br
      = f.text_field :gastroc, :class => "span-2 round"
  .measures_box.round
    %strong Notes
    %p
      = f.text_area :notes, :rows => 15, :class => 'span-4 round'
  %p
    = f.submit "Create BodyComp"
