%h1 BODY COMP PICTURES
%h2= @bodycomp.date.strftime("%m/%d/%Y")
#client_notice
  = link_to @bodycomp.client.full_name, client_path(@bodycomp.client), :title => "Go to client's page", :class => 'tool-tip'

- if @bodycomp.album and !@bodycomp.album.images.blank?
  %table
    - @bodycomp.album.images.each_slice(2) do |images|
      %tr
        - images.each do |image|
          %td
            =# image_tag image_path(image, :jpg)
            = embedded_image_tag(image)
            =# link_to image_tag(image_path(image, :jpg)), image_path(image, :jpg, :size => :medium), :class => :gallery
            - unless image.caption.blank?
              %p= "Caption: " + image.caption unless image.caption.blank?
              %p= link_to 'Edit caption', edit_image_path(image.id)
            - else
              %p= link_to 'Add caption', edit_image_path(image.id)
            %p= link_to "[delete]", delete_image_bodycomp_path(@bodycomp, :image_id => image.id), :confirm => "Are you sure?"

#new_image
  - form_route = "/bodycomps/upload_photo"
  - hidden_field = "bodycomp"

  - form_tag "#{form_route}", :method => :post, :multipart => true do
    = hidden_field_tag "#{hidden_field}_id", @bodycomp.id
    = hidden_field_tag "id", @bodycomp.id
    %fieldset
      %ol
        %li
          %label Upload Image
          = file_field_tag 'image[image_file]', :id => 'myImageFile'
          .red_text
            **Image file must be 16KB or less**
      = submit_tag 'Upload'
%br
= link_to 'Back', client_path(@bodycomp.client) + "#clientbodycomps_tab"