= form_for @subscription do |f|
  = f.error_messages
  = f.hidden_field :user_id, :value => current_user.id
  = f.hidden_field :plan_id
  = f.hidden_field :stripe_card_token
  %p
    = f.label :email
    = f.text_field :email
  %p
    = f.label :coupon
    = f.text_field :coupon
  - if @subscription.stripe_card_token.present?
    Credit card has been provided.
  - else
    .field
      = label_tag :card_name, "Name on card"
      = text_field_tag :card_name, nil, :name => nil
    .field
      = label_tag :card_number, "Credit card number"
      = text_field_tag :card_number, nil, :name => nil
    .field
      = label_tag :card_code, "Security code on card (CVV)"
      = text_field_tag :card_code, nil, :name => nil
    .field
      = label_tag :card_month, "Card expiration"
      = select_month nil, {:add_month_numbers => true}, {:name => nil, :id => "card_month"}
      = select_year nil, {:start_year => Date.today.year, :end_year => Date.today.year+15}, {:name => nil, :id => "card_year"}
  #stripe_error
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  %p
    = f.submit
