- if current_user.is_client?
  #client_notice.round
    = @client.full_name
= link_to "New Foodlog", new_foodlog_path(:client => @client), :title => 'Add new foodlog', :class => 'tool-tip'

- unless @foodlogs.empty?
  - @foodlogs.sort_by(&:date).reverse.each do |foodlog|
    %p
      %strong= foodlog.date.strftime("%m/%d/%Y")
      = link_to image_tag("EditIcon.jpg", :alt => "Edit"), edit_foodlog_path(foodlog), :title => "Edit foodlog", :class => 'tool-tip'
    %p= simple_format(foodlog.log)
