- exercise_name = form.object.exercise.name unless form.object.exercise.blank?
%ul.round
  %li
    = form.label :exercise_name
    - unless exercise_name.blank?
      = form.select :exercise_name, @exercise_names, {:include_blank => exercise_name, :selected => exercise_name}
    - else
      = form.select :exercise_name, @exercise_names, {:include_blank => "Exercise name"}
  = form.fields_for :weight_sets do |weight_set_form|
    = render :partial => '/weight_sets/form', :locals => {:form => weight_set_form}
  =# link_to_add_weight_set_fields "add a set", form, :weight_sets
  %li
    = form.label :sets
    = form.text_field :sets, :placeholder => "Number of sets"
  %li
    = form.label :rest
    = form.text_field :rest, :placeholder => "Interset rest"
  %li= link_to_mobile_remove_exercise_session_fields "(-) remove exercise", form