- title "Plan"

%p
  %strong Name:
  = @plan.name
%p
  %strong Price:
  = @plan.price
%p
  %strong Description:
  = @plan.description

%p
  = link_to "Edit", edit_plan_path(@plan)
  |
  = link_to "Destroy", @plan, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", plans_path
