- title "Exercises"
%p= link_to "New Exercise", new_exercise_path

= will_paginate(@exercises)

%table.pretty
  %tr
    %th Name
    %th Description
    %th Highest Weight
    %th Highest Volume
  - for exercise in @exercises
    %tr
      %td= exercise.name
      %td= exercise.description
      %td= exercise.highest_weight
      %td= exercise.highest_set.reps.to_s + " x " + exercise.highest_set.weight.to_s if exercise.highest_set
      %td
        = link_to 'Show', exercise
        = link_to 'Edit', edit_exercise_path(exercise)
        = link_to 'Delete', exercise, :confirm => 'Are you sure?', :method => :delete

= will_paginate(@exercises)
