- unless @client.blank?
  #client_notice
    - if current_user.coach
      = link_to "Client: " + @client.full_name, client_path(@client), :title => 'Client information', :class => 'tool-tip'
    - else
      = "Client: " + @client.full_name
%p
  %strong= @exercise.name
  = link_to image_tag("EditIcon.jpg", :alt => "Edit"), edit_exercise_path(@exercise), :title => 'Edit this exercise', :class => 'tool-tip'


%table.weight.hide
  %caption Weight Lifted
  %thead
    %tr
      %td
      - @exercise.exercise_sessions.each do |exercise_session|
        - if @client and exercise_session.workout_session.client == @client
          %th{scope="col"}
            = exercise_session.workout_session.date.strftime("%m/%d/%y") unless exercise_session.highest_weight.blank?
        - elsif @client.blank?
          %th{scope="col"}
            = exercise_session.workout_session.date.strftime("%m/%d/%y") unless exercise_session.highest_weight.blank?
  %tbody
    %tr
      %th{scope="row"}
        = @exercise.name
      - @exercise.exercise_sessions.each do |exercise_session|
        - if @client and exercise_session.workout_session.client == @client
          %td= exercise_session.highest_weight unless exercise_session.highest_weight.blank?
        - elsif @client.blank?
          %td= exercise_session.highest_weight unless exercise_session.highest_weight.blank?

%table.volume.hide
  %caption Set Volume Lifted
  %thead
    %tr
      %td
      - @exercise.exercise_sessions.each do |exercise_session|
        - if @client and exercise_session.workout_session.client == @client
          %th{scope="col"}
            = exercise_session.workout_session.date.strftime("%m/%d/%y") unless exercise_session.highest_set.blank?
        - elsif @client.blank?
          %th{scope="col"}
            = exercise_session.workout_session.date.strftime("%m/%d/%y") unless exercise_session.highest_set.blank?
  %tbody
    %tr
      %th{scope="row"}
        = @exercise.name
      - @exercise.exercise_sessions.each do |exercise_session|
        - if @client and exercise_session.workout_session.client == @client
          %td= exercise_session.highest_set.weight * exercise_session.highest_set.reps unless exercise_session.highest_set.blank?
        - elsif @client.blank?
          %td= exercise_session.highest_set.weight * exercise_session.highest_set.reps unless exercise_session.highest_set.blank?

%p
  %strong Highest Weight:
  =# @exercise.highest_weight

%p
  %strong Highest Set Volume:
  - if @exercise.highest_set and @exercise.highest_set
    =# @exercise.highest_set.reps.to_s + " x " + @exercise.highest_set.weight.to_s + " = "
    =# @exercise.highest_set.reps * @exercise.highest_set.weight

%p
  %strong Description:
  = simple_format(@exercise.description)

%p
  %strong Dates Used:
  - @exercise.exercise_sessions.each do |exercise_session|
    - if @client and exercise_session.workout_session.client == @client
      %p= link_to exercise_session.workout_session.date.strftime("%m/%d/%Y"), workout_session_path(exercise_session.workout_session)
    - elsif @client.blank?
      %p= link_to exercise_session.workout_session.date.strftime("%m/%d/%Y"), workout_session_path(exercise_session.workout_session)

%p
  =# link_to "Edit", edit_exercise_path(@exercise)
  =# link_to "Destroy", @exercise, :confirm => 'Are you sure?', :method => :delete



:javascript
  $('.weight').visualize({type: 'line'});
  $('.volume').visualize({type: 'line'});