- title @exercise.name


%ul.invisible
  - if current_user == @exercise.user
    %li= link_to "Edit", edit_exercise_path(@exercise), :class => 'button'
  %li= link_to "Back", nil, :class => 'back'
%ul
  %li
    = "Name: "
    = @exercise.name
  %li
    = "Description: "
    = @exercise.description

- if @exercise.videos.any?
  - @exercise.videos.each do |video|
    - if current_user == video.owner.user or video.client.blank? or (current_user.is_client? and current_user.client == video.client)
      %ul
        %li.arrow= link_to video_thumbnail(video), video_path(video)