= form_for @biosignature do |f|
  = f.error_messages
  %p
    = f.label :date
    %br
    = f.text_field :date, :value => @biosignature.date.strftime("%m/%d/%Y"), :class => "date-pick"

  =# f.label :client_id
  = f.hidden_field :client_id, :value => @biosignature.client.id

  %p
    = f.label :sex
    %br
    = f.select :sex, { "Female" => "Female", "Male" => "Male"}
  %p
    = f.label :age
    %br
    = f.text_field :age
  %p
    = f.label :height
    %br
    = f.text_field :height
  %p
    = f.label :height_units
    %br
    = f.select :height_units, { "Inches" => "inches", "Centimeters" => "centimeters"}
    =# f.text_field :height_units
  %p
    = f.label :weight
    %br
    = f.text_field :weight
  %p
    = f.label :weight_units
    %br
    = f.select :weight_units, { "Kilograms" => "kilograms", "Pounds" => "pounds", }
    =# f.text_field :weight_units
  %p
    = f.label :chin
    %br
    = f.text_field :chin
  %p
    = f.label :cheek
    %br
    = f.text_field :cheek
  %p
    = f.label :pec
    %br
    = f.text_field :pec
  %p
    = f.label :tri
    %br
    = f.text_field :tri
  %p
    = f.label :subscap
    %br
    = f.text_field :subscap
  %p
    = f.label :suprailiac
    %br
    = f.text_field :suprailiac
  %p
    = f.label :midaxil
    %br
    = f.text_field :midaxil
  %p
    = f.label :umbilical
    %br
    = f.text_field :umbilical
  %p
    = f.label :knee
    %br
    = f.text_field :knee
  %p
    = f.label :calf
    %br
    = f.text_field :calf
  %p
    = f.label :quad
    %br
    = f.text_field :quad
  %p
    = f.label :ham
    %br
    = f.text_field :ham
  %p
    = f.label :waist
    %br
    = f.text_field :waist
  %p
    = f.label :hip
    %br
    = f.text_field :hip
  %p
    = f.submit
