- title "BODY COMP"

%p
  %strong Date:
  = @biosignature.date.strftime("%m/%d/%Y")
%p
  %strong Client:
  = link_to @biosignature.client.full_name, client_path(@biosignature.client)

%table.priority
  %tr
    %th Priority
    %th Site
  %tr
    %td #1
    %td= @biosignature.priority_list[0][0]
  %tr
    %td #2
    %td= @biosignature.priority_list[1][0]
  %tr
    %td #3
    %td= @biosignature.priority_list[2][0]

%p
  %strong Age:
  = @biosignature.age
%p
  %strong Height:
  = @biosignature.height
%p
  %strong Height Units:
  = @biosignature.height_units
%p
  %strong Weight:
  = @biosignature.weight
%p
  %strong Weight Units:
  = @biosignature.weight_units
%p
  %strong Chin:
  = @biosignature.chin
%p
  %strong Cheek:
  = @biosignature.cheek
%p
  %strong Pec:
  = @biosignature.pec
%p
  %strong Tri:
  = @biosignature.tri
%p
  %strong Subscap:
  = @biosignature.subscap
%p
  %strong Suprailiac:
  = @biosignature.suprailiac
%p
  %strong Midaxil:
  = @biosignature.midaxil
%p
  %strong Umbilical:
  = @biosignature.umbilical
%p
  %strong Knee:
  = @biosignature.knee
%p
  %strong Calf:
  = @biosignature.calf
%p
  %strong Quad:
  = @biosignature.quad
%p
  %strong Ham:
  = @biosignature.ham
%p
  %strong Sum of 10:
  = @biosignature.sum_of_10
%p
  %strong Sum of 12:
  = @biosignature.sum_of_12
%p
  %strong Percent Body Fat:
  = @biosignature.bodyfat_percent.round(1)
%p
  %strong Lean Mass:
  = @biosignature.lean_mass.round(1)
  = @biosignature.weight_units
%p
  %strong Fat Mass:
  = @biosignature.fat_mass.round(1)
  = @biosignature.weight_units

%p
  = link_to "Edit", edit_biosignature_path(@biosignature)
  |
  = link_to "Client", client_path(@biosignature.client)
  =# link_to "Destroy", @biosignature, :confirm => 'Are you sure?', :method => :delete
  =# link_to "View All", biosignatures_path
