= form_for @trainer do |f|
  = f.error_messages
  - if current_user.is_gym?
    = f.hidden_field :gym_id, :value => current_user.gym.id
  %p
    = f.label :first_name
    %br
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br
    = f.text_field :last_name
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.submit
