%html
  %head
    %title
      = h(yield(:title) || "Untitled")
    = stylesheet_link_tag "/jqtouch/jqtouch.min.css", "/jqtouch/themes/apple/theme.css", "/jqtouch/jqt.calendar.css"
    = javascript_include_tag "/jqtouch/jquery-1.4.2.min.js", "/jqtouch/jqtouch.js", "/jqtouch/jqt.calendar.js", "mobile"
    = yield(:head)
  %body{:id => 'jqt'}
    .current
      - if show_title?
        .toolbar
          = link_to "Back", nil, :class => "back" unless current_page? root_path
          %h1
            =h yield(:title)
          = link_to "Full Site", root_url(:mobile => 0), :class => "button", :rel => "external"
          = yield(:toolbar)

      - unless flash.empty?
        .info
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"

      = yield