!!! Strict
%html{html_attrs}
  
  %head
    = javascript_include_tag 'jquery-1.4.2.min.js'
    = javascript_include_tag 'jquery.tools.min.js'
    = javascript_include_tag 'jquery.tooltip.pack.js'
    = javascript_include_tag 'jquery.autocomplete.min.js'
    = javascript_include_tag 'tools.tabs-1.0.4.min.js'
    = javascript_include_tag 'jquery-ui-1.8.custom.min.js'
    = javascript_include_tag 'jquery.datePicker.js'
    = javascript_include_tag 'jquery.feedbackBadge.min.js'
    = javascript_include_tag 'facebox.js'
    = javascript_include_tag 'visualize.jQuery.js'
    = javascript_include_tag 'enhance.js'
    =# javascript_include_tag 'application'
    = javascript_include_tag "https://js.stripe.com/v1/", "application"
    = javascript_include_tag 'rails'
    = javascript_include_tag 'subscriptions'
    =# javascript_include_tag :defaults
    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY

    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css'
    = stylesheet_link_tag 'formtastic'
    = stylesheet_link_tag 'jquery.autocomplete.css'
    = stylesheet_link_tag 'jquery.tooltip.css'
    = stylesheet_link_tag 'ui.datepicker.css'
    = stylesheet_link_tag 'facebox.css'
    = stylesheet_link_tag 'visualize-light.css'
    = stylesheet_link_tag 'basic.css'
    = stylesheet_link_tag 'visualize.css'
    = stylesheet_link_tag 'feedbackBadge.css'
    = stylesheet_link_tag 'subscription.css'
    = stylesheet_link_tag 'plan.css'

    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    =# stylesheet_link_tag '/stylesheets/application.css', :media => "all"
    = stylesheet_link_tag "http://0.0.0.0:3000/stylesheets/application.css", :media => "all"
    = stylesheet_link_tag 'application'
    =# stylesheet_link_tag "/usr/local/RubyProjects/TrainingTracker/public/stylesheets/application.css", :media => "all"
    = yield(:head)
    = csrf_meta_tag

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6217562-6']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #container.round
      - if current_user.blank?
        = image_tag("logo_small.jpg", :alt => "Tracker") + "PT SUCCESS TRACKER"
      - else
        - unless current_user.logo_image.blank?
          = link_to image_tag(current_user.logo_image_url(:thumb).to_s), root_path, :id => 'pdf_remove'
          = link_to image_tag(current_user.logo_image_url(:thumb).to_s) + "PT SUCCESS TRACKER - GYM", root_path, :id => 'pdf_remove' if current_user.is_gym?
          = link_to image_tag(current_user.logo_image_url(:thumb).to_s) + "PT SUCCESS TRACKER - TRAINER", root_path, :id => 'pdf_remove' if current_user.is_trainer?
          = link_to image_tag(current_user.logo_image_url(:thumb).to_s) + "PT SUCCESS TRACKER - CLIENT", root_path, :id => 'pdf_remove' if current_user.is_client?
        - else
          = link_to image_tag("logo_small.jpg", :alt => "Tracker") + "PT SUCCESS TRACKER - GYM", root_path, :id => 'pdf_remove' if current_user.is_gym?
          = link_to image_tag("logo_small.jpg", :alt => "Tracker") + "PT SUCCESS TRACKER - TRAINER", root_path, :id => 'pdf_remove' if current_user.is_trainer?
          = link_to image_tag("logo_small.jpg", :alt => "Tracker") + "PT SUCCESS TRACKER - CLIENT", root_path, :id => 'pdf_remove' if current_user.is_client?
      - unless session.blank? or current_user.nil?
        .little_grey_box.float_right.round
          =# link_to "Calendar", root_path, :title => "My calendar", :class => "tool-tip"
          - if current_user.coach?
            =# link_to "Clients", clients_path, :title => "Go to my client list", :class => "tool-tip"
          %p=# link_to current_user.username, user_path(current_user), :title => "My information", :class => "tool-tip"
          %p
            = link_to image_tag("calendar_icon.png", :alt => "Home"), root_path, :title => "Home", :class => "tool-tip"
            - if current_user.coach? or current_user.is_trainer?
              = link_to image_tag("clients_icon.jpg", :alt => "Clients"), "/#myclients_tab", :title => "My clients", :class => "tool-tip"
            = link_to image_tag("small_dumbbell_icon.png", :alt => "Exercises"), root_path + "#myexercises_tab", :title => "My exercises", :class => "tool-tip" unless current_user.is_gym?
            =# link_to image_tag("small_clipboard_icon.png", :alt => "Account"), user_path(current_user), :title => "My information", :class => "tool-tip"
            %a{:href => '/TrackerFAQ.pdf'}
              = image_tag("questionmark.png", :alt => "Help")
            = link_to image_tag("logout_icon.png", :alt => "Log out"), logout_path, :confirm => "Are you sure you want to log out?", :title => "Log out", :class => "tool-tip"
          =# link_to 'Exercises', exercises_path
          =# link_to 'Workouts', workouts_path
          %p=# link_to 'log out', logout_path, :confirm => "Are you sure you want to log out?", :title => "Log out", :class => "tool-tip"
          %p= link_to current_user.username, user_path(current_user), :title => "My information", :class => "tool-tip"
          %p= link_to current_user.gym.name, '#', :title => "My Gym", :class => "tool-tip" if current_user.is_gym?
          %p= link_to current_user.trainer.gym.name, '#', :title => "My Gym", :class => "tool-tip" if current_user.is_trainer?
          %p= link_to current_user.client.trainer.gym.name, '#', :title => "My Gym", :class => "tool-tip" if current_user.is_client? and !current_user.client.trainer.blank?
          %p= link_to current_user.client.trainer.user.full_name, '#', :title => "My Trainer", :class => "tool-tip" if current_user.is_client? and !current_user.client.trainer.blank?
        %br
        %br
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      
      - if show_title?
        %h1=h yield(:title)
      
      = yield